div .user-form {
    padding: 200px;
}

.text-input-padding{
    padding-left: 40px;
} 

.column h2 {
    font-size:x-large;
    font-weight: 800;
    padding-bottom: 20px;
    color: white;
}

.login-page {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px;
   /* margin-right: 300px; */
   border: 2px solid black;
   border-radius: 5em;
}

.login-register-text-container{
    padding-top: 20px;
}
.account-message{
    color: #fff;
    padding: 10px 0;
}
.login-register-text {
    color: #FFE227!important;
}
.arrow-white{
    color: #fff;
}

.arrow-left {
    float: left;
    margin-right: 10px;
}
.text-left{
    float: left;
}

.arrow-right {
    float: right;
    margin-left: 10px;
}
.text-right{
    float: right;
}