div .user-form {
    padding: 200px;
}

.text-input-padding{
    padding-left: 40px;
} 

.column h2 {
    font-size:x-large;
    font-weight: 800;
    padding-bottom: 20px;
    color: white;
}

.login-page {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px;
   margin-right: 300px;
   border: 2px solid black;
   border-radius: 5em;
}