.navbar {
    background-color: black;
}
.navbar-start {
    padding: 10px 20pc 0 20px;
}
.button-yellow{
    background-color: #FFE227!important;
    color: #000!important;
}

.button-white{
    background-color: rgb(255, 255, 255)!important;
    color: #000!important;
}
.navbar .icon {
    font-size: 40px;
    color: #FFE227;
}

.avatar-button .icon {
    font-size: 26px;
    color:#411b57;
}

.avatar-button .button {
    background-color: #FFE227;
}
.icon img {
    max-width: 400%;
    height: auto;
    padding-left:10px;
}