.navbar {
    background-color: black;

}
.button-yellow{
    background-color: yellow!important;
    color: black!important;
}

.button-white{
    background-color: rgb(255, 255, 255)!important;
    color: black!important;
}