.navbar {
    background-color: black;

}
.button-yellow{
    background-color: #FFE227!important;
    color: #000!important;
}

.button-white{
    background-color: rgb(255, 255, 255)!important;
    color: #000!important;
}